<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon" />
    <title>Namaste Savannah</title>
    <% include partials/common-styles.ejs %>
    <link rel="stylesheet" href="/vendors/themify-icon/themify-icons.css" />
    <link rel="stylesheet" href="/vendors/font-awesome/css/all.css" />
    <link rel="stylesheet" href="/vendors/flaticon/flaticon.css" />
    <link rel="stylesheet" href="/vendors/animation/animate.css" />
    <link rel="stylesheet" href="/vendors/elagent/style.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <% include partials/google-analytics.ejs %>
  </head>

  <body>
    <% include partials/preloader.ejs %> <% include partials/navbar.ejs %>

    <section class="error_area">
      <div class="container flex">
        <div class="error_contain text-center">
          <div class="b_text mb-5">
            <h1 class="f_p w_color f_700">Oops.</h1>
          </div>
          <h2 class="f_p f_400 w_color f_size_40">Something wrong happened</h2>
          <p class="w_color f_300">
            We’re sorry. Please try again later. If the problem persists,
            contact owner.
          </p>
          <a href="/" class="about_btn btn_hover mt_40">Go Back to home Page</a>
        </div>
      </div>
    </section>

    <% include partials/footer.ejs %> <% include partials/common-scripts.ejs %>
    <script src="/vendors/wow/wow.min.js"></script>
    <script src="/vendors/sckroller/jquery.parallax-scroll.js"></script>
    <script src="/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
