<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <title>Namaste Savannah</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendors/bootstrap-selector/css/bootstrap-select.min.css">
    <!--icon font css-->
    <link rel="stylesheet" href="/vendors/themify-icon/themify-icons.css">
    <link rel="stylesheet" href="/vendors/font-awesome/css/all.css">
    <link rel="stylesheet" href="/vendors/flaticon/flaticon.css">
    <link rel="stylesheet" href="/vendors/animation/animate.css">
    <link rel="stylesheet" href="/vendors/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/vendors/magnify-pop/magnific-popup.css">
    <link rel="stylesheet" href="/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    <% include partials/preloader.ejs %>

    <% include partials/navbar.ejs %>

    <!-- Jumbotron -->
    <section class="app_banner_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="app_banner_contentmt mt_40">
                        <h2 class="f_p f_700 f_size_50 w_color mb_20 wow fadeInLeft" data-wow-delay="0.2s">Namaste
                            Savannah</h2>
                        <p class="f_300 f_size_18 l_height30 w_color wow fadeInLeft" data-wow-delay="0.3s">Nepalese
                            cuisine from the foothills of <br> Himalayas to historic Savannah</p>
                        <a href="#" class="btn_hover mt_30 app_btn wow fadeInLeft" data-wow-delay="0.5s">Order Now</a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="app_img">
                        <!-- <img class="app_screen one wow fadeInDown" src="img/home7/01.png" alt=""> -->
                        <img class="mobile one wow fadeInDown" src="/img/home7/momo-home.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Top Menu Items -->
    <section class="app_screenshot_area sec_pad">
        <div class="container custom_container p0">
            <div class="sec_title text-center mb_70">
                <h2 class="f_p f_size_30 l_height30 f_700 t_color3 mb_20 wow fadeInUp" data-wow-delay="0.2s">Menu</h2>
                <p class="f_300 f_size_16 wow fadeInUp" data-wow-delay="0.4s">Enjoy our selection of signature dishes!
                </p>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="ex_team_item wow fadeInUp" data-wow-delay="0.2s">
                            <img src="img/home7/item1.png" alt="">
                            <div class="team_content">
                                <a>
                                    <h3 class="f_p f_size_16 f_600 t_color3">Kothe Mo:Mo</h3>
                                </a>
                                <h5>Veg | Chicken | Bison</h5>
                            </div>
                            <div class="hover_content">
                                <div class="n_hover_content">
                                    <a>
                                        <h3 class="f_p f_size_16 f_600 w_color">Kothe Mo:Mo</h3>
                                    </a>
                                    <h5>Veg | Chicken | Bison</h5>
                                    <div class="br"></div>
                                    <h5>Slightly pan-fried dumplings filled with mixed vegetables and your choice of
                                        filling</h5>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="ex_team_item wow fadeInUp" data-wow-delay="0.2s">
                            <img src="img/home7/item2.png" alt="">
                            <div class="team_content">
                                <a>
                                    <h3 class="f_p f_size_16 f_600 t_color3">Chilli Chicken</h3>
                                </a>
                                <h5>Chicken</h5>
                            </div>
                            <div class="hover_content">
                                <div class="n_hover_content">
                                    <a>
                                        <h3 class="f_p f_size_16 f_600 w_color">Chilli Chicken</h3>
                                    </a>
                                    <h5>Chicken</h5>
                                    <div class="br"></div>
                                    <h5>Flashed fried chicken tossed in onions, pepper and spices</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="ex_team_item wow fadeInUp" data-wow-delay="0.2s">
                            <img src="img/home7/item3.png" alt="">
                            <div class="team_content">
                                <a>
                                    <h3 class="f_p f_size_16 f_600 t_color3">Chicken Tandoori</h3>
                                </a>
                                <h5>Chicken</h5>
                            </div>
                            <div class="hover_content">
                                <div class="n_hover_content">
                                    <a href="#">
                                        <h3 class="f_p f_size_16 f_600 w_color">Chicken Tandoori</h3>
                                    </a>
                                    <h5>Chicken</h5>
                                    <div class="br"></div>
                                    <h5>Tandoori chicken is a chicken dish prepared by roasting chicken marinated in
                                        yogurt and spices in a tandoor, a cylindrical clay oven</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="ex_team_item wow fadeInUp" data-wow-delay="0.2s">
                            <img src="img/home7/item4.png" alt="">
                            <div class="team_content">
                                <a href="#">
                                    <h3 class="f_p f_size_16 f_600 t_color3">Chilli Mo:Mo</h3>
                                </a>
                                <h5>Veg | Chicken | Bison</h5>
                            </div>
                            <div class="hover_content">
                                <div class="n_hover_content">
                                    <a href="#">
                                        <h3 class="f_p f_size_16 f_600 w_color">Chilli Mo:Mo</h3>
                                    </a>
                                    <h5>Veg | Chicken | Bison</h5>
                                    <div class="br"></div>
                                    <h5>Fried Dumplings filled with mixed vegetable and your choice of filling sauteed
                                        over chili sauce,
                                        bell peppers and onions</h5>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 text-center">
                        <a href="/menu" class="learn_btn wow fadeInLeft" data-wow-delay="0.2s">See our complete menu <i
                                class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section class="app_featured_area">
        <div class="triangle_shape"></div>
        <div class="container">
            <div class="row flex-row-reverse app_feature_info">
                <div class="col-lg-6">
                    <div class="app_fetured_item">
                        <div class="app_item item_one" data-parallax='{"x": 0, "y": 50}'>
                            <i class="ti-face-smile f_size_40 w_color"></i>
                            <h6 class="f_p f_400 f_size_16 w_color l_height45">Healthy Food</h6>
                        </div>
                        <div class="app_item item_two" data-parallax='{"x": 0, "y": -30}'>
                            <i class="ti-receipt f_size_40 w_color"></i>
                            <h6 class="f_p f_400 f_size_16 w_color l_height45">Honest pricing</h6>
                        </div>
                        <div class="app_item item_three" data-parallax='{"x": 50, "y": 10}'>
                            <i class="ti-face-smile f_size_40 w_color"></i>
                            <h6 class="f_p f_400 f_size_16 w_color l_height45">Satisfied Customers</h6>
                        </div>
                        <div class="app_item item_four" data-parallax='{"x": -20, "y": 50}'>
                            <i class="ti-tablet f_size_40 w_color"></i>
                            <h6 class="f_p f_400 f_size_16 w_color l_height45">Friendly Staffs</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="app_featured_content">
                        <h2 class="f_p f_size_30 f_700 t_color3 l_height45 pr_70 mb-30">Our Story</h2>
                        <p class="f_300">
                            Nepalese Cuisine is a variety of goods based upon ethnicity, soil, and climate relating
                            to Nepal's cultural diversity and georgraphy. Much of the cuisine is Asian based. Other
                            goods have hybrid
                            Tibetian, Indian, and Thai origins. The Himalayan spices used are found in some other
                            cuisine as well
                            but they are implemented in Nepalese cuisine in a different ratio or combination.
                        </p>
                        <p class="f_300">
                            Our goal is to give the best experience to our customers and broaden the horizon
                            of your taste palate. Our chefs have come a long way to give you one of the best
                            experiences of Nepalese fusion. Their experiences on food and hospitality are
                            immaculate and our staff will be sure to take care of you to the utmost.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Order Online -->
    <section class="app_service_area">
        <div class="container">
            <div class="sec_title text-center mb_70">
                <h2 class="f_p f_size_30 l_height30 f_700 t_color3 mb_20 wow fadeInUp">Order Online</h2>
                <p class="f_300 f_size_16 wow fadeInUp" data-wow-delay="0.2s">
                    Order mouth-watering food directly to your doorstep through one of our delivery partners.
                </p>
            </div>
            <div class="row app_service_info">
                <div class="col-lg-4">
                    <div class="app_service_item wow fadeInUp" data-wow-delay="0.2s">
                        <img src="img/partners/uber.svg" alt="Uber Eats" class="img-fluid d-block mx-auto">
                        <a href="https://www.ubereats.com/en-US/savannah/food-delivery/namaste-savannah/20sFR2IMTlaCH3sdYxTbVw/"
                            class="learn_btn_two" target="_blank">Order Now <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="app_service_item wow fadeInUp" data-wow-delay="0.4s">
                        <img src="img/partners/grubhub.png" alt="Grubhub" class="img-fluid d-block mx-auto">
                        <a href="https://www.grubhub.com/delivery/ga-savannah" class="learn_btn_two"
                            target="_blank">Order Now <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="app_service_item wow fadeInUp" data-wow-delay="0.6s">
                        <img src="img/partners/waitr.png" alt="" class="img-fluid d-block mx-auto">
                        <a href="https://waitrapp.com/restaurants/ga/pooler/namaste-savannah/14312"
                            class="learn_btn_two" target="_blank">Order Now <i class="ti-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonals -->
    <!-- TODO: Integrate with Google Places Review API -->
    <section class="app_testimonial_area">
        <div class="text_shadow" data-line="Feedback"></div>
        <div class="container nav_container">
            <div class="shap one"></div>
            <div class="shap two"></div>
            <div class="app_testimonial_slider owl-carousel">
                <div class="app_testimonial_item text-center">
                    <!-- <div class="author-img"><img src="img/reviewers/p1.png" alt=""></div> -->
                    <div class="author_info">
                        <h6 class="f_p f_500 f_size_18 t_color3 mb-0">Louis C</h6>
                        <p> <i class="ti-star"></i>
                            <i class="ti-star"></i>
                            <i class="ti-star"></i>
                            <i class="ti-star"></i>
                        </p>
                    </div>
                    <p class="f_300">Loved the food; Great flavors, aromas and textures. It was made even better by the
                        attentive, kind, and expedient service. Not to mention that the atmosphere of the space is top
                        notch. Sit near the waterfall. One of the best downtown dining experiences. Walk right in and
                        leave with the sense of peace in your soul. Truly, Namaste.</p>
                </div>
                <div class="app_testimonial_item text-center">
                    <!-- <div class="author-img"><img src="img/reviewers/p2.png" alt=""></div> -->
                    <div class="author_info">
                        <h6 class="f_p f_500 f_size_18 t_color3 mb-0">Ami Patel</h6>
                        <p>
                            <i class="ti-star"></i>
                            <i class="ti-star"></i>
                            <i class="ti-star"></i>
                            <i class="ti-star"></i>
                            <i class="ti-star"></i>
                        </p>
                    </div>
                    <p class="f_300">Found this gem walking through Savannah. The service was amazing and the chef
                        definitely delivered on flavor. A great hidden gem for anyone looking for a palate please meal.
                        Won’t disappoint!!!</p>
                </div>
                <div class="app_testimonial_item text-center">
                    <!-- <div class="author-img"><img src="img/reviewers/p3.png" alt=""></div> -->
                    <div class="author_info">
                        <h6 class="f_p f_500 f_size_18 t_color3 mb-0">Phyllis Lang</h6>
                        <p>
                            <i class="ti-star"></i>
                            <i class="ti-star"></i>
                            <i class="ti-star"></i>
                            <i class="ti-star"></i>
                            <i class="ti-star"></i>
                        </p>
                    </div>
                    <p class="f_300">Great food and great service. This is all Indian food. We all had something
                        different and it was all great. Our waiter helped with our selections. We're looking forward to
                        going back again. Not your "run of the mill" Indian restaurant.</p>
                </div>
            </div>
        </div>
    </section>


    <!-- Order Screen -->
    <!-- <section class="get_started_area">
        <div class="shap one"></div>
        <div class="shap two"></div>
        <div class="shap one three"></div>
        <div class="shap two four"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center">
                    <div class="get_content">
                        <h3 class="f_400 f_p wow fadeInLeft" data-wow-delay="0.2s">Namaste Savannah</h3>
                        <h2 class="f_700 f_p f_size_40 l_height50 mb_20 wow fadeInLeft" data-wow-delay="0.3s">Order Now
                        </h2>
                        <p class="f_300 f_p mb_40 wow fadeInLeft" data-wow-delay="0.4s">
                            No worries if you cannot come to the restaurant. Our delivery partners delivers them
                            directly to your footstep.
                        </p>
                        <a href="#" class="app_btn app_btn_one wow fadeInLeft" data-wow-delay="0.5s">
                            <img src="img/uber.png" style="width: 100%; object-fit: cover;" alt="">
                            Dine In</a>
                        <a href="#" class="app_btn app_btn_two wow fadeInLeft" data-wow-delay="0.6s">
                            <img src="https://waitr-web.imgix.net/img/logo.svg" alt="">
                            Delivery</a>
                    </div>
                </div>
                <div class="col-lg-6 text-right wow fadeInRight" data-wow-delay="0.7s">
                    <img src="" alt="">
                </div>
            </div>
        </div>
    </section> -->

    <!-- Gallery -->
    <section class="app_screenshot_area sec_pad">
        <div class="app_screen_info">
            <div class="app_screenshot_slider owl-carousel">
                <div class="item">
                    <div class="screenshot_img">
                        <a href="img/home7/item2.png" class="image-link"><img src="img/home7/item2.png" alt=""></a>
                    </div>
                </div>
                <div class="item">
                    <div class="screenshot_img">
                        <a href="img/home7/item3.png" class="image-link"><img src="img/home7/item3.png" alt=""></a>
                    </div>
                </div>
                <div class="item">
                    <div class="screenshot_img">
                        <a href="img/home7/item4.png" class="image-link"><img src="img/home7/item4.png" alt=""></a>
                    </div>
                </div>
                <div class="item">
                    <div class="screenshot_img">
                        <a href="img/home7/item1.png" class="image-link"><img src="img/home7/item1.png" alt=""></a>
                    </div>
                </div>
                <div class="item">
                    <div class="screenshot_img">
                        <a href="img/home7/item2.png" class="image-link"><img src="img/home7/item2.png" alt=""></a>
                    </div>
                </div>
                <div class="item">
                    <div class="screenshot_img">
                        <a href="img/home7/item3.png" class="image-link"><img src="img/home7/item3.png" alt=""></a>
                    </div>
                </div>
                <div class="item">
                    <div class="screenshot_img">
                        <a href="img/home7/item4.png" class="image-link"><img src="img/home7/item4.png" alt=""></a>
                    </div>
                </div>
                <div class="item">
                    <div class="screenshot_img">
                        <a href="img/home7/item1.png" class="image-link"><img src="img/home7/item1.png" alt=""></a>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- Map -->
    <section class="map_area">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13522.552260568973!2d-81.0915489!3d32.0790367!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x584b28552a53935!2sNamaste%20Savannah!5e0!3m2!1sen!2sus!4v1576364055182!5m2!1sen!2sus"
            width="300" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </section>

    <% include partials/footer.ejs %>

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/propper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
    <script src="/vendors/wow/wow.min.js"></script>
    <script src="/vendors/sckroller/jquery.parallax-scroll.js"></script>
    <script src="/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/vendors/isotope/isotope-min.js"></script>
    <script src="/vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>

</html>