<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <title>Order Now | Namaste Savannah</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--icon font css-->
    <link rel="stylesheet" href="vendors/themify-icon/themify-icons.css">
    <link rel="stylesheet" href="vendors/flaticon/flaticon.css">
    <link rel="stylesheet" href="vendors/animation/animate.css">
    <link rel="stylesheet" href="vendors/owl-carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="vendors/magnify-pop/magnific-popup.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>

<body>
    <% include partials/preloader.ejs %>

    <% include partials/navbar.ejs %>

    <!-- Jumbotron -->
    <section class="breadcrumb_area">
        <img class="breadcrumb_shap" src="img/home7/banner_bg.png" alt="">
        <div class="container">
            <div class="breadcrumb_content text-center">
                <h1 class="f_p f_700 f_size_50 w_color l_height50 mb_20">Order Online</h1>
                <p class="f_300 w_color f_size_16 l_height26">
                    Order online to avoid wait time or have it delivered to you.
                </p>
            </div>
        </div>
    </section>

    <!-- Delivery Partners -->
    <section class="s_pricing_area sec_pad">
        <div class="container custom_container">
            <div class="sec_title text-center mb_70">
                <h2 class="f_p f_size_30 l_height50 f_600 t_color3">Delivery Partners</h2>
                <p class="f_300 f_size_18 l_height34">
                    Select one of our three delivery partners to have the food delivered to you.
                </p>
            </div>
            <div class="row mb_30">
                <div class="col-lg-4 col-sm-6">
                    <div class="s_pricing-item">
                        <img class="img-fluid d-block mx-auto" src="img/partners/grubhub.png" alt="">
                        <p class="f_p f_300 price_content price_item price">Popular Items</p>
                        <ul class="list-unstyled mt_30">
                            <li>Garlic Naan</li>
                            <li>Kothe Mo:Mo</li>
                            <li>Tikka Masala</li>
                        </ul>
                        <a href="https://www.grubhub.com/delivery/ga-savannah" class="price_btn btn_hover mt_30">Order
                            Now</a>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="s_pricing-item">
                        <img class="img-fluid d-block mx-auto" src="img/partners/uber.svg" alt="">
                        <div class="tag_label">Popular</div>
                        <p class="f_p f_300 price_content price_item price">Popular Items</p>
                        <ul class="list-unstyled mt_30">
                            <li>Tikka Masala</li>
                            <li>Garlic Naan</li>
                            <li>Mango Lassi</li>
                        </ul>
                        <a href="https://www.ubereats.com/en-US/savannah/food-delivery/namaste-savannah/20sFR2IMTlaCH3sdYxTbVw/"
                            class="price_btn btn_hover mt_30">Order Now</a>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="s_pricing-item">
                        <img class="img-fluid d-block mx-auto" src="img/partners/waitr.png" alt="">
                        <p class="f_p f_300 price_content price_item price">Popular Items</p>
                        <ul class="list-unstyled mt_30">
                            <li>Tikka Masala</li>
                            <li>Kothe Mo:Mo</li>
                            <li>Korma</li>
                        </ul>
                        <a href="https://waitrapp.com/restaurants/ga/pooler/namaste-savannah/14312"
                            class="price_btn btn_hover mt_30">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Custom Online Ordering -->
    <section class="s_pricing_area sec_pad">
        <div class="container custom_container">
            <div class="sec_title text-center mb_70">
                <h2 class="f_p f_size_30 l_height50 f_600 t_color3">Online Order</h2>
                <p class="f_300 f_size_18 l_height34">
                    Coming Soon!
                </p>
            </div>
        </div>
    </section>


    <% include partials/footer.ejs %>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/propper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/wow/wow.min.js"></script>
    <script src="vendors/sckroller/jquery.parallax-scroll.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/isotope/isotope-min.js"></script>
    <script src="vendors/magnify-pop/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>

</html>